:root {
  --var-background-color-cian-gray: #60778C;
  --var-background-color-cian-white: #586D80;
  --var-background-color-cian: #4A6277;
  --var-background-color-blue: #1F3547;
  --var-background-color-dark-blue: #1F3547;
  --var-color-code-block-blue: #3d5264;
  --var-color-code-text-white: #ffffff;
  --var-color-text-button-white: #fff;
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--var-color-code-text-white);
  background: var(--var-background-color-dark-blue);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    'Source Code Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
